html
    head
        title Student Management
    body
        h1 List of Students
        hr
        ul
            each student in students
                li
                    | First Name: #{student.fname}, CGPA: #{student.cgpa}