html(lang="en")
    head
        title Student Management
    body
        h1 Student Management
        hr
        header
            h2 Students
            nav
                ul
                    li
                        a(href='/api/students') List of Students
                    li
                        a(href='/api/student/topper') Topper